body, html {
  height: 100%;
  margin: 0;
  font-family: 'helvetica';
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bannerImageOne{
  background-image: url("../img/sheets.jpg");
  height: 100%;
  opacity: .75;
}
.bannerImageTwo{
  background-image: url("../img/micro.jpg");
  height: 80%;
  opacity: .75;
}
.bannerImageThree{
  background-image: url("../img/red.jpg");
  height: 90%;
  opacity: .75;
}
h3{
  text-align: center;
}
